/* General body and content layout */
body {
  display: flex;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}


.sidebar-container {
  position: relative;
}

/* Sidebar styles */
.sidebar {
  font-family: 'Inconsolata', monospace;
  height: 100vh;
  width: 200px;
  background-color: #333;
  padding-top: 60px;
  position: fixed;
  color: white;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
}

.sidebar-header {
  font-size: 2em;
  text-align: center;
  padding-bottom: 40px;
  font-weight: bold;
}

.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #575757;
}

/* Content styles */
.content {
  font-family: 'Inconsolata', monospace;
  margin-left: 220px; /* avoid overlap with sidebar */
  padding: 20px;
  padding-top: 60px;
}

/* Button styles */
.sidebar-toggle {
  position: fixed;
  top: 10px; /* Float near the top */
  left: 10px;
  background-color: #333;
  color: white;
  border: none;
  font-size: 1.5em;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
}

/* Hide the button by default on larger screens */
.sidebar-toggle {
  display: none;
}

/* Center the embedded PDF */
.pdf-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height, adjust as needed */
}

.pdf-container embed {
  width: 80%; /* Adjust width, for example 80% of the container */
  height: 100vh; /* Full viewport height */
}

/* Only show the button on small screens */
@media (max-width: 768px) {
  .sidebar-toggle {
    display: block; /* Show button on small screens */
  }

  .sidebar {
    width: 100%;
    transform: translateX(-100%); /* Hidden by default */
    position: fixed;
    z-index: 1000;
  }

  .sidebar.show {
    transform: translateX(0); /* Show the sidebar */
  }

  .content {
    margin-left: 0;
    padding: 20px;
    padding-top: 60px; /* Push content down below the button */
  }

  .pdf-container embed {
    height: 500px; /* Full viewport height */
  }
}


.highlights ul {
  list-style: none;
  padding-left: 0;
}

.highlights li {
  background: #f5f5f5;   
  margin: 0.5em 0;       
  padding: 0.75em 1em;   
  border-radius: 6px;    
  transition: background 0.2s;
}

.highlights li:hover {
  background: #e0e0e0;
  cursor: pointer;
}