---
last_modified: 2024-09-18T21:57:14-0400
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Robert, Melvin, Hopkins, Robert Hopkins, Robert Melvin Hopkins, Robert M Hopkins, Robert M. Hopkins, Linguistics, Computer Science, Language, Language Science, Computational Linguistics"
    />
    <title>{{ page.title }}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    {% include sidebar.html %}
    <main>
      {{ content }}
      <div class="content">
        <p>Last updated {{page.last_modified | date: "%B %-d, %Y" }} TEST!!!</p>
      </div>
    </main>

    <script>
      function toggleSidebar() {
        document.querySelector(".sidebar").classList.toggle("show");
      }
    </script>
  </body>
</html>
